form{
    box-shadow: 0 10px 20 px;
    justify-content: center;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: rgb(42, 140, 165);
}
label{
    display: block;
    padding-bottom: 10px;
    font-weight: bolder;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 10px;
}
input text,textarea{
    padding: 15px 20px;
    border-radius: 15px;
    border: 3px solid  rgb(42, 140, 165);
    margin-bottom: 20px;

}
input text,textarea:focus{
    border-color: rgb(42, 140, 165); 
    outline: none;
} 


 input[type="submit"]{
background-color:rgb(42, 140, 165);
padding: 10px 15px;
border-radius: 10px;
cursor: pointer;
color: rgb(225, 225, 227);
text-transform: uppercase;

 }
 input[type="submit"]:hover{
    background-color: brown;
 }
    





.cont{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
} 
.ct{
    background-color: aqua; 
    border-radius: 20px; 
    width: 70px;
}